$white: #fff;

$light_shadow: rgba(0, 0, 0, 0.1);
$regular_shadow: rgba(0, 0, 0, 0.2);
$blue_shadow: rgba(16, 49, 182, 0.3);
$darker_shadow: rgba(0, 0, 0, 0.702);

$bright_orange: hsl(31, 77%, 52%);
$dark_cyan: hsl(184, 100%, 22%);
$very_dark_cyan: hsl(179, 100%, 13%);
$very_light_gray: hsl(0, 0%, 95%);

$light_grayish_blue: hsl(210, 46%, 95%);
$slightly_transparent_white: hsla(0, 0%, 100%, 0.75);
$slightly_more_transparent_white: hsla(0, 0%, 100%, 0.6);
